<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name=" gcr25">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-7.6515E-08 -0.029226 0.048463"
        rpy="0 0 0" />
      <mass
        value="0.0040803" />
      <inertia
        ixx="6.3033E-07"
        ixy="-1.603E-12"
        ixz="1.2913E-13"
        iyy="7.6216E-07"
        iyz="-1.4495E-09"
        izz="5.5578E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package:// gcr25/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package:// gcr25/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-0.02683 -2.3767E-07 0.12404"
        rpy="0 0 0" />
      <mass
        value="2.169" />
      <inertia
        ixx="0.0056878"
        ixy="-2.4292E-08"
        ixz="0.00044566"
        iyy="0.0044243"
        iyz="-2.2338E-09"
        izz="0.0070499" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package:// gcr25/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package:// gcr25/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 0.1176"
      rpy="0 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-1.2208E-05 0.034892 0.14451"
        rpy="0 0 0" />
      <mass
        value="1.5329" />
      <inertia
        ixx="0.0031036"
        ixy="2.4292E-08"
        ixz="-2.2338E-09"
        iyy="0.0042948"
        iyz="-0.00044566"
        izz="0.0045458" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package:// gcr25/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package:// gcr25/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="-0.1239 -1.1872E-05 0.11741"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="4.5765E-05 3.4016E-05 0.01025"
        rpy="0 0 0" />
      <mass
        value="0.36226" />
      <inertia
        ixx="0.00052212"
        ixy="-3.3491E-36"
        ixz="1.1759E-22"
        iyy="0.00052212"
        iyz="2.5908E-19"
        izz="0.0010189" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package:// gcr25/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package:// gcr25/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="3.3893E-05 0.87746 0.0094"
      rpy="-3.1416 0 3.1416" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="2.7617E-05 0.02981 0.053971"
        rpy="0 0 0" />
      <mass
        value="0.040949" />
      <inertia
        ixx="0.00011443"
        ixy="5.5779E-08"
        ixz="1.9935E-08"
        iyy="0.00010143"
        iyz="-2.2071E-05"
        izz="9.7333E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package:// gcr25/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package:// gcr25/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="4.9923E-05 0.78805 0.0335"
      rpy="3.1416 0 3.1416" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-0.02983 2.336E-05 0.053971"
        rpy="0 0 0" />
      <mass
        value="0.040949" />
      <inertia
        ixx="0.00010143"
        ixy="-5.6111E-08"
        ixz="2.2071E-05"
        iyy="0.00011443"
        iyz="1.9838E-08"
        izz="9.7332E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package:// gcr25/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package:// gcr25/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 0.06498 0.0695"
      rpy="1.5708 1.5708 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="-4.544E-06 -0.00011522 0.049206"
        rpy="0 0 0" />
      <mass
        value="0.040524" />
      <inertia
        ixx="1.4137E-05"
        ixy="-4.625E-19"
        ixz="8.9256E-20"
        iyy="1.4256E-05"
        iyz="1.6648E-08"
        izz="2.7195E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package:// gcr25/meshes/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package:// gcr25/meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="revolute">
    <origin
      xyz="-0.065 0 0.069499"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>