<launch>

    <include file="$(find gazebo_ros)/launch/empty_world.launch"> 
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" /> 
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />   
    </include>
    <!--
    <arg name="gui" default="true" />
    -->
    <!--
    <node name="tf_footprint_base" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link base_footprint 40" />
    -->
    
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find lunarPrinter)/urdf/arm/arm.xacro" />
    <!--
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg gui)" />
    -->

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model arm.xacro -param robot_description" />


    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!--
    <node    name="rviz"    pkg="rviz"    type="rviz"    args="-d $(find lunarPrinter)/rviz/lunarPrinter.rviz" />
    -->
    <!-- 加载控制器 -->
    <rosparam file="$(find lunarPrinter)/config/arm_ctrler.yaml" command="load"/>  
    <node   name="controller_spawner" pkg="controller_manager" type="spawner" 
            args="arm_controller joint_state_controller" />

    <!--
    <node name="joints_show" pkg="lunarPrinter" type="joints_show.py" />
    
    <node name="joint_trajectory_marker" pkg="lunarPrinter" type="trajectory_visualizer.py" />
    -->
</launch>