<?xml version="1.0"?>
<launch>
    <!-- MoveIt options -->
    <arg name="pipeline" default="ompl" doc="Planning pipeline to use with MoveIt"/>

    <include file="$(find lunar_arm_moveit_config)/launch/demo.launch">
        <arg name="load_robot_description" value="false" />
        <arg name="moveit_controller_manager" value="ros_control" />
    </include>
    
    <include file="$(find lunarPrinter)/launch/gazebo_lunarPrinter.launch" />

    

</launch>