<?xml version="1.0"?>

<robot name="lunarPrinter" xmlns:xacro="http://ros.org/wiki/xacro" >

    <xacro:include filename="$(find lunarPrinter)/urdf/agv/agv.xacro" />
    <xacro:include filename="$(find lunarPrinter)/urdf/arm/arm.xacro" />

    

    <joint name="arm_mount_joint" type="fixed">
        <parent link="arm_base_4_link"/>
        <child link="arm_base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>


    <gazebo>
        <plugin name="odom_publisher" filename="libgazebo_ros_p3d.so">
            <bodyName>agv_base_link</bodyName>
            <frameName>world</frameName>
            <topicName>/agv/odom</topicName>
            <updateRate>30.0</updateRate>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin name="trajectory_visualizer" filename="libtrajectory_visualizer.so">
            <target_link>link_7</target_link>
            <reference_frame>world</reference_frame>
            <line_width>0.02</line_width>
        </plugin>
    </gazebo>

</robot>